* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}



ul, li {
  list-style: none;
  padding: 0;
}

/* UTILS */

.ineedspace {
  padding: 20px;
}

/* HOME PAGE */

#home {
  
}

#home .frontpage {
  height: 100%;
  
}

#home .features li {
  margin-bottom: 20px;
}

#home .footer {
  background-color: #333;
  color: white;
  height: 100px;
  position: relative;
  bottom: 0;
  display: flex;
}

#home .footer div {
  flex: 1 1 50%;
}
/* TABLETS + DESKTOPS */

@media all and (max-width: 600px) { 

}